@import url();

.content-user{
    max-width: 100%;
    background-color: var(--second-background-color);
}
h1{
    font-size: 1.5rem;
    color: var(--five-color-fonts);
}
.wrapper-menu{
    
    height: 85px;
}
