@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url(./reset.css);
@import url(./make-access/footer.css);

:root{
    --primary-color:#264B5D;
    --second-background-color:#E2E7E7;
    --third-color:#A0B0B0;
    --fourth-color:#A4C4C4;
    --five-color-fonts:#393c3f;
    --six-color-font-input-off:#999999;
    --seven-color-input-off:#D5D5D5;
    
}

*{
    font-family: "Inter", sans-serif;
    background-color: white;
    
}
html, body, #root { 
    height: 100%; /* Garante que a raiz do documento ocupe toda a viewport */
    margin: 0;
    padding: 0;
}
